.icon {
    color: #3561a5;
    margin-right: 0.5%;
}

.phone_label {
    color: darkgray;
}

.weekends_wh {
    color: red;
}

.fa-blank {
    visibility:hidden;
}

.info-column {
    width: 35%;
}

.map-column {
    width: 65%;
}

.top-alignment {
    vertical-align: top;
}

.claim-card.ui-panelgrid .ui-panelgrid-cell {
    border: none;
}

.claim-card .label-column, .contractor-card .label-column {
    font-weight: bold;
}

.contractors-list .contractor-name {
    width: 60%;
}

.contractors-list .contractor-tin {
    width: 15%;
}

.contractors-list .contractor-1c {
    width: 15%;
}

.contractors-list .contractor-employees-count {
    width: 10%;
}
