.ui-widget {
    font-size: 90%;
}
.ui-widget .ui-widget {
    font-size: 100%;
}

.icon {
    color: #3561a5;
    margin-right: 0.5%;
}

.phone_label, .position {
    color: darkgray;
}

.weekends_wh, .weekdays_wh {
    font-weight: normal;
}

.weekends_wh {
    color: red;
}

.fa-blank {
    visibility:hidden;
}

img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 50%;
    display: block;
}
