
.search-result-price {
  position: relative;
}
.price-container.loading .price-value {
  display: none;
}

.itc-theme .ui-datatable.search-results-table table {
  table-layout: fixed;
  overflow: auto;
  width: auto;
}

.search-results-table thead {
  background-color: #f7f7f7;
}
.search-results-table .search-result-image {
  width: 100px;
  text-align: center;
}
.ui-datatable.search-results-table thead th.search-result-image {
  text-align: center;
}
.search-result-table .search-result-image a {
  display: inline-block;
}
.search-results-table .search-result-name {
  width: 20%;
  min-width: 150px;
}

.search-results-table .search-result-vendor-code {
  width: 10%;
  font-family: monospace;
  min-width: 100px;
}
.search-results-table .search-result-vendor-code .additional-vendor-code {
  color: #A9A9A9;
  display: block;
}

.search-results-table .search-result-vendor {
  width: 15%;
  min-width: 100px;
}

.search-results-table .search-result-price {
  width: 10%;
  min-width: 150px;
}

.search-results-table .search-result-counter {
  width: 120px;
}

.search-results-table .search-result-packing {
  width: 100px;
  text-align: center;
}

.search-results-table .search-result-add {
  width: auto;
  min-width: 160px;
  text-align: right;
}
.search-results-table .search-result-add .add-to-cart-btn {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  position: relative;
}
.search-results-table .search-result-add .add-to-cart-btn img {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  left: calc(50% - 1.5rem/2 - 1px);
  top: calc(50% - 1.5rem/2);
}

.action-container {
  margin-right: 0.75rem;
}
.action-container .action-icon {
  margin-right: 0.5rem;
}

.action-container .action-label {
  text-decoration: underline;
  color: #a9a9a9;
  font-size: 0.8rem;
}
.action-container .icon-unselected svg path {
  fill: #DADADA;
}
.product-page .action-container .icon-unselected svg path {
  fill: #0b5892;
}
.action-container .icon-selected svg path {
  fill: #d8202d;
}