<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Добавить сервис</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Создание сервиса:</h1>

<form th:action="@{/admin/addAPIUser}"
      th:object="${userForm}" method="POST">
    Имя пользователя:
    <input type="text" th:field="${userForm.username}" />
    <br/>
    Пароль:
    <input type="password" th:field="${userForm.password}" />
    <br/>
    Подтвердите пароль:
    <input type="password" th:field="${userForm.confirmPassword}" />
    <br/>
    <button type="submit" name="action" value="save">Сохранить</button>
    <button type="submit" name="action" value="cancel">Отменить</button>
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->

<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
    ...
</div>

</body>
</html>